.list-menu-01 {
	display: flex;
	max-width: 100%;
	overflow-x: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		+ li {
			margin-left: 20px;
		}
	}
}


.list-menu-02 {
	display: flex;
	max-width: 100%;
	overflow-x: auto;
	list-style: none;
	margin: 0;
	padding: 0 0 10px;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		border-bottom: 2px solid var(--#{$prefix}gray-300);
	}
	li {
		+ li {
			margin-left: 30px;
		}
	}
	a {
		color: var(--#{$prefix}text-mode);
		display: inline-flex;
		padding-bottom: 5px;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			transition: ease all 0.35s;
			width: 0;
			height: 3px;
			margin: auto;
			background: $theme-gradient;
			background-size: 200% auto;
		}
		&.active,
		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
}


.list-menu-01 {
	display: flex;
	max-width: 100%;
	overflow-x: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		+ li {
			margin-left: 20px;
		}
	}
}